.main-page-receipts {
  display:         flex;
  margin:          auto;
  flex-wrap:       wrap;
  justify-content: flex-start;

  &__button {
    width:      100%;
    text-align: center;
    margin-top: 50px;

    @include respond-to(phone) {
      margin-top: 0;
    }
  }

  @media(max-width: $screen-sm-max) {
    max-width:      $screen-sm-min;
    flex-direction: column;
    align-items:    center;
  }
}

.main-page-receipts-title {
  display:         flex;
  justify-content: center;
  align-items:     center;
  margin-bottom:   15px;

  @include respond-to(phone) {
    margin-bottom: 0;
  }

  img {
    max-height: 105px;

    @include respond-to(phone) {
      max-height: 75px;
    }
  }
}

.main-page-receipt {
  margin-bottom: 20px;
  width:         25%;

  @media(max-width: $screen-sm-max) {
    width: 100%;
  }

  &__wrapper {
    padding:         20px;
    display:         flex;
    flex-direction:  column;
    justify-content: space-between;
    height:          100%;
    max-height:      290px;

    @media(max-width: $screen-sm-max) {
      max-height: 100%;
    }

    a {
      text-decoration: none;
    }
  }

  &__image {
    width:      100%;
    max-height: 315px;
    overflow:   hidden;

    img {
      width: 100%;
    }

    @include respond-to(desktop) {
      max-height: 256px;
    }

    @media(max-width: $screen-sm-max) {
      max-height: none;
    }
  }

  &__title {
    min-height:  45px;
    font-size:   16px;
    font-weight: bold;

    @media(max-width: $screen-sm-max) {
      min-height: auto;
    }
  }

  &__description {
    font-size: 15px;
  }

  &__link {
    margin-top: 30px;
    text-align: center;
  }

  &__stats {
    display:     flex;
    font-size:   14px;
    color:       #6d6d6c;
    margin-top:  auto;
    align-items: center;

    @media(max-width: $screen-sm-max) {
      margin-top: 5px;
    }
  }

  &__date {
    display:      flex;
    align-items:  center;
    margin-right: 10px;

    i {
      background-image: url('/images/icons/calendar.png');
      width:            16px;
      height:           16px;
      background-size:  contain;
      margin-right:     4px;
    }
  }

  &__views-count {
    display:     flex;
    align-items: center;

    i {
      background-image: url('/images/icons/eye.png');
      width:            18px;
      height:           18px;
      background-size:  contain;
      margin-right:     4px;
    }
  }
}
