@font-face {
  font-family: 'Garamond Regular';
  font-weight: normal;
  font-style:  normal;
  src:         url("../fonts/EBGaramond-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'PTSans Regular';
  font-weight: normal;
  font-style:  normal;
  src:         url("../fonts/PTSans-Regular.woff2") format("woff2");
}

