@import "fonts";
@import "variables";
@import "mixins/mixins";
@import "common/common";
@import "widgets/widgets";

// Pages
@import "main-page/main-page";
@import "receipts/receipts";
@import "site-error/site-error";

body {
  height:      100%;
  position:    relative;
  padding:     0;
  margin:      0;
  font-family: 'PTSans Regular', serif;
  font-size:   16px;
  font-weight: 300;
  color:       $base-color;

  main {
    min-height: calc(100vh - 152px);
  }
}
