.receipts-list {
  display:   flex;
  flex-wrap: wrap;
  margin:    auto;

  &__title {
    font-weight: normal;
    width:       100%;
    text-align:  center;
    padding:     15px 0;
    margin:      0 auto 15px;

    span {
      text-transform: lowercase;
    }
  }

  &__tag {
    width: 100%;
    color: #c23d1f;
  }

  .receipt {
    display:        flex;
    flex-direction: column;
    max-width:      calc((100% - 45px) / 4);
    margin-right:   15px;
    margin-bottom:  40px;

    &:nth-of-type(4n) {
      margin-right: 0;
    }

    @include respond-to(tablet) {
      margin-right: 25px;
      max-width:    calc((100% - 25px) / 2);

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    @include respond-to(phone) {
      margin-right: 0;
      max-width:    100%;
    }

    &__image {
      width:      100%;
      max-height: 168px;
      overflow:   hidden;

      img {
        width: 100%;
      }

      @include respond-to(desktop) {
        max-height: 139px;
      }

      @include respond-to(tablet) {
        max-height: 270px;
      }

      @include respond-to(phone) {
        max-height: 100%;
      }
    }

    &__title {
      min-height:  45px;
      font-size:   16px;
      font-weight: bold;
      text-align:  center;

      @media(max-width: $screen-sm-max) {
        min-height: auto;
      }
    }

    &__description {
      font-size: 14px;
    }
  }

  &__pagination {
    width: 100%;

    .pagination {
      display:         flex;
      padding:         0;
      justify-content: center;
      align-items:     center;

      li {
        display:    block;
        width:      25px;
        height:     23px;
        text-align: center;
        border:     1px solid #a09999;
        margin:     0 5px;
        padding:    5px;
        cursor:     pointer;

        a {
          display:         block;
          text-decoration: none;
          color:           #000;
        }

        &:hover, &.active {
          background-color: #c23d1f;

          a {
            color: #fff;
          }
        }
      }
    }
  }
}
