.receipts-list {
  display:   flex;
  flex-wrap: wrap;
  margin:    auto;

  &__title {
    font-weight:   normal;
    width:         100%;
    text-align:    center;
    padding:       15px 0;
    margin:        0 auto 15px;
    border-bottom: 1px solid black;
  }

  .receipt {
    display:        flex;
    flex-direction: column;
    max-width:      calc((100% - 30px) / 3);
    margin-right:   15px;
    margin-bottom:  40px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    @include respond-to(tablet) {
      margin-right: 25px;
      max-width:    calc((100% - 25px) / 2);

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    @include respond-to(phone) {
      margin-right: 0;
      max-width:    100%;
    }

    &__image {
      width:      100%;
      max-height: 168px;
      overflow:   hidden;

      img {
        width: 100%;
      }

      @include respond-to(desktop) {
        max-height: 139px;
      }

      @include respond-to(tablet) {
        max-height: 270px;
      }

      @include respond-to(phone) {
        max-height: 100%;
      }
    }

    &__title {
      padding:   10px 0;
      font-size: 23px;
    }

    &__description {
      font-size: 18px;
      color:     #6d6d6c;
    }

    &__tags {
      margin-top: auto;
      padding:    15px 0;
    }

    &__tag {
      text-decoration: underline;
    }

    &__dot-wrapper {
      display:    inline-block;
      width:      10px;
      text-align: center;
    }

    &__dot {
      display:          inline-block;
      background-color: #6d6d6c;
      border-radius:    25px;
      width:            5px;
      height:           5px;
      vertical-align:   middle;
    }

    &__button {
      color:            #fff;
      background-color: #494949;
      width:            100%;
      text-align:       center;
      border:           none;
      border-radius:    6px;
      height:           50px;
      font-size:        19px;
      cursor:           pointer;

      &:hover {
        background-color: #272727;
      }

      @include transition(background-color, 0.5s, linear);
    }
  }
}
