.receipt-card {
  max-width:        1300px;
  margin:           auto;
  background-color: white;

  &__title {
    margin:      0;
    padding:     30px 0;
    text-align:  center;
    font-weight: normal;

    @include respond-to(phone) {
      padding:   10px 0;
      font-size: 22px;
    }
  }

  &__image {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__tags {
    padding:    15px;
    text-align: center;
  }

  &__tag {
    text-decoration: underline;
  }

  &__dot-wrapper {
    display:    inline-block;
    text-align: center;
    width:      10px;
  }

  &__dot {
    display:          inline-block;
    background-color: #6d6d6c;
    border-radius:    25px;
    width:            5px;
    height:           5px;
    vertical-align:   middle;
  }

  &__description {
    color:     #6d6d6c;
    max-width: 800px;
    padding:   20px;
    margin:    auto;
  }

  &__content {
    display: flex;
    padding: 0 20px;

    @include respond-to(phone) {
      flex-direction: column;
    }
  }

  &__ingredients {
    flex-basis:   280px;
    flex-shrink:  0;
    margin-right: 20px;

    &-title {
      margin-bottom: 10px;
    }

    .ingredient {
      font-size:  20px;
      font-style: italic;
    }

    @include respond-to(phone) {
      flex-basis: 0;
    }
  }

  &__instruction {
    width: 100%;

    &-title {
      margin-bottom: 10px;
    }
  }

  &__duration {
    font-style:    italic;
    margin-bottom: 10px;
  }

  &__portions-count {
    font-style:    italic;
    margin-bottom: 10px;
  }

  .step {
    font-style:    italic;
    margin-bottom: 20px;

    &__wrapper {
      display:   flex;
      font-size: 20px;
      padding:   0 0 10px;
    }

    &__number {
      flex-basis:  50px;
      flex-shrink: 0;
      font-weight: bold;
      text-align:  center;
    }

    &__content {
      padding:     0 10px;
      border-left: 1px solid #e0e0e0;
    }

    &__image {
      margin:    auto;
      max-width: 700px;

      img {
        width: 100%;
      }
    }
  }

  &__video {
    text-align: center;

    iframe {
      width:  560px;
      height: 315px;
    }

    @include respond-to(phone) {
      iframe {
        width:  100%;
        height: 250px;
      }
    }
  }
}
