.receipt-card {
  max-width:        1200px;
  margin:           auto;
  background-color: white;

  &__title {
    margin:      0;
    padding:     30px 0 0;
    text-align:  center;
    font-weight: normal;

    @include respond-to(phone) {
      font-size: 22px;
    }
  }

  &__image {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__tags {
    padding:    15px;
    text-align: center;
  }

  &__tag {
    text-decoration: underline;
  }

  &__dot-wrapper {
    display:    inline-block;
    text-align: center;
    width:      10px;
  }

  &__dot {
    display:          inline-block;
    background-color: #6d6d6c;
    border-radius:    25px;
    width:            5px;
    height:           5px;
    vertical-align:   middle;
  }

  &__description {
    text-align: center;
    color:      #6d6d6c;
    max-width:  800px;
    padding:    20px;
    margin:     auto;
  }

  &__content {
    display: flex;
    padding: 0 20px;

    @include respond-to(phone) {
      flex-direction: column;
    }
  }

  &__stats {
    margin-bottom:   20px;
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    border-top:      1px solid;

    @include respond-to(phone) {
      flex-wrap: wrap;
    }
  }

  &__date-views-wrapper {
    display:     flex;
    padding:     15px;
    flex-basis:  130px;
    flex-shrink: 0;

    @include respond-to(phone) {
      flex-basis:      auto;
      width:           100%;
      justify-content: center;
    }
  }

  &__date {
    display:      flex;
    align-items:  center;
    margin-right: 10px;

    i {
      background-image: url('/images/icons/calendar.png');
      width:            16px;
      height:           16px;
      background-size:  contain;
      margin-right:     4px;
    }
  }

  &__views-count {
    display:     flex;
    align-items: center;

    i {
      background-image: url('/images/icons/eye.png');
      width:            18px;
      height:           18px;
      background-size:  contain;
      margin-right:     4px;
    }
  }

  &__ingredients {
    flex-basis:   280px;
    flex-shrink:  0;
    margin-right: 20px;

    &-title {
      margin-bottom: 10px;
    }

    .ingredient {
      font-size:  20px;
      font-style: italic;
    }

    @include respond-to(phone) {
      flex-basis: 0;
    }
  }

  &__instruction {
    width: 100%;

    &-title {
      margin-bottom: 10px;
    }
  }

  &__duration {
    font-style:    italic;
    margin-bottom: 10px;
  }

  &__portions-count {
    font-style:    italic;
    margin-bottom: 10px;
  }

  .step {
    font-style:    italic;
    margin-bottom: 20px;

    &__wrapper {
      display:   flex;
      font-size: 20px;
      padding:   0 0 10px;
    }

    &__number {
      flex-basis:  50px;
      flex-shrink: 0;
      font-weight: bold;
      text-align:  center;
    }

    &__content {
      padding:     0 10px;
      border-left: 1px solid #e0e0e0;
    }

    &__image {
      margin:    auto;
      max-width: 700px;

      img {
        width: 100%;
      }
    }
  }

  &__video {
    margin:     20px 0;
    text-align: center;

    iframe {
      width:  100%;
      height: 670px;
      border: none;
    }

    @include respond-to(tablet) {
      iframe {
        width:  100%;
        height: 430px;
      }
    }

    @include respond-to(phone) {
      iframe {
        width:  100%;
        height: 250px;
      }
    }
  }
}
