#slider {
  margin-bottom: 45px;
  min-height:    90px;
}

.caption {
  &__title {
    font-size: 23px;

    @include respond-to(phone) {
      font-size:     16px;
      margin-bottom: 2px;
    }
  }

  &__button {
    display:         block;
    font-weight:     bold;
    color:           #fff !important;
    text-decoration: none !important;
    text-align:      center;
    width:           125px;
    border:          1px solid !important;
    padding:         13px 0;
    margin:          20px auto 0;

    @include respond-to(phone) {
      margin-top: 0;
      padding:    5px 0;
    }

    &:hover {
      color: #bb4d27 !important;
    }
  }
}

.media {
  background-image:    url('/images/media-background.png');
  margin-top:          50px;
  background-size:     cover;
  background-position: center;
  background-repeat:   no-repeat;

  @include respond-to(phone) {
    height: auto;
  }

  &__title {
    text-align:  center;
    color:       white;
    font-size:   32px;
    font-weight: bold;
    padding-top: 15px;

    @include respond-to(phone) {
      font-size: 20px;
      padding:   10px 0;
    }
  }

  &__items {
    display:         flex;
    flex-wrap:       wrap;
    justify-content: center;

    @include respond-to(phone) {
      margin-top: 0;
    }
  }

  &__item {
    display:     flex;
    align-items: center;
    text-align:  center;
    margin:      20px 50px;
    color:       #fff;
    font-size:   22px;

    @include respond-to(phone) {
      margin: 10px 50px;
    }

    &-stat {
      div {
        line-height: 24px;
      }

      &-count {
        font-weight: bold;
        font-size:   32px;
        line-height: 32px !important;
      }
    }

    a {
      display: flex;
    }

    img {
      margin-right: 10px;

      @include respond-to(phone) {
        width: 50px;
      }
    }
  }
}
