.main-slider {
  margin-top: 20px;

  &__item {
    max-height: 400px;

    img {
      height: 100%;
      width:  100%;
    }
  }
}

.about {
  max-width:  500px;
  margin:     20px auto 30px;
  text-align: center;

  &__title {
    margin: 0;
  }

  @include respond-to(phone) {
    margin-top: 10px;

    &__title {
      font-size: 20px;
    }
  }
}
