.main-slider {
  margin-top: 20px;

  &__item {
    max-height: 400px;

    img {
      height: 100%;
      width:  100%;
    }
  }
}

.about {
  max-width:  500px;
  margin:     30px auto auto;
  text-align: center;
}
