footer {
  display:          flex;
  flex-direction:   column;
  justify-content:  space-evenly;
  height:           135px;
  color:            #fff;
  background-color: #242424;
  text-align:       center;
  padding-right:    15px;
}
