.header {
  @include box-shadow(inset 0px -1px 0px #989898);
  display:         flex;
  justify-content: center;
  align-items:     center;
  height:          117px;

  @include respond-to(tablet) {
    padding: 0 35px;
  }

  @include respond-to(phone) {
    justify-content: flex-start;
  }

  &__item {
    margin:     0 30px;
    font-size:  22px;
    width:      110px;
    text-align: center;

    @include respond-to(phone) {
      margin: 0 10px;
      width:  70px;
    }

    &_media {
      width: 230px;

      .media-links {
        display:         flex;
        align-items:     center;
        justify-content: space-evenly;
        margin-bottom:   4px;
      }
    }
  }

  &__logo {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    width:          205px;
    height:         149px;
    z-index:        1000;

    img {
      height: 100%;
    }

    span {
      display:     block;
      font-size:   24px;
      font-weight: bold;
    }

    @include respond-to(phone) {
      width:  175px;
      height: 110px;
    }
  }

  &__title {
    font-size: 21px;

    @include respond-to(phone) {
      display: none;
    }
  }
}

.search-form {
  position: relative;
  width:    230px;

  &__input {
    background:    #fff;
    border:        none;
    line-height:   30px;
    font-size:     16px;
    outline-width: 0;
    padding:       0 10px;
  }
}

.presearch-input-wrapper {
  width:         100%;
  border:        1px solid #d9d9d9;
  border-radius: 4px;

  i {
    position: absolute;
    top:      3px;
    right:    5px;
    cursor:   pointer;
  }
}

.presearch {
  position:         absolute;
  background-color: white;
  z-index:          1040;
  width:            100%;
  border:           1px solid #d9d9d9;
  border-radius:    4px;

  &__item {
    display:         block;
    text-decoration: none;
    color:           #000;

    &:hover, &.active {
      background-color: #bb4d27;
      color:            #fff;
    }
  }
}
