.header {
  @include box-shadow(inset 0px -1px 0px #989898);
  display:         flex;
  justify-content: center;
  align-items:     center;
  height:          117px;

  @include respond-to(tablet) {
    padding: 0 35px;
  }

  @include respond-to(phone) {
    justify-content: flex-start;
  }

  &__item {
    margin:     0 30px;
    font-size:  22px;
    width:      110px;
    text-align: center;

    @include respond-to(phone) {
      margin: 0 10px;
      width:  70px;
    }

    &_media {
      display:         flex;
      align-items:     center;
      justify-content: space-between;

      a {
        display:      flex;
        margin-right: 15px;
      }
    }
  }

  &__logo {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    width:          205px;
    height:         149px;
    z-index:        1000;

    img {
      height: 100%;
    }

    span {
      display:     block;
      font-size:   24px;
      font-weight: bold;
    }

    @include respond-to(phone) {
      width:  175px;
      height: 110px;
    }
  }

  &__title {
    font-size: 21px;

    @include respond-to(phone) {
      display: none;
    }
  }
}
