@import "links";
@import "header";
@import "footer";

.container {
  margin-left:  auto;
  margin-right: auto;

  @media(min-width: $screen-lg-min) {
    width: 1200px;
  }

  @include respond-to(desktop) {
    width: $screen-md-min;
  }

  @include respond-to(tablet) {
    min-width: 744px;
    padding:   0 12px;
    width:     calc(100% - 24px);
  }

  @include respond-to(phone) {
    min-width: 312px;
    padding:   0 4px;
    width:     calc(100% - 8px);
  }
}

.layer {
  @include border-radius(8px);
  box-shadow:       0 1px 2px 0 rgba(0, 0, 0, 0.16);
  border:           solid 1px transparent;
  background-color: #fff;
}
